footer {
    margin-top: 15em;
    background-color:#232527;
}

.footer-copyright-color {
    color: indianred;
}

.footer-social-color {
    color: indianred;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: indianred; /* old IE */
    background-color: indianred; /* Modern Browsers */
}
