<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center" style="text-align:center;">
          <hr>
          <!-- Facebook -->
          <a class="fb-ic footer-social-color" href="https://codexio.bg/">
            <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic footer-social-color" href="https://codexio.bg/">
            <i class="fa fa-facebook fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic footer-social-color" href="https://codexio.bg/">
            <i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic footer-social-color" href="https://codexio.bg/">
            <i class="fa fa-linkedin fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic footer-social-color" href="https://codexio.bg/">
            <i class="fa fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic footer-social-color" href="https://codexio.bg/">
            <i class="fa fa-pinterest fa-lg white-text"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-copyright-color">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->