<!-- Update Profile Page. -->
<div class="col-md-6 offset-md-3">
    <!-- Title. -->
    <h1>Update Profile</h1>
    <!-- Update Form. -->
    <form (ngSubmit)="updateUser()">
        <!-- First Name Input Field. -->
        <div class="form-group indianred-text-color">
            <label>First Name</label>
            <input  type="text" 
                    class="form-control" 
                    id="firstName"
                    [(ngModel)] = "user.firstName" 
                    name="firstName">
        </div>

        <!-- Last Name Input Field. -->
        <div class="form-group indianred-text-color">
            <label>Last Name</label>
            <input  type="text" 
                    class="form-control" 
                    id="lastName"
                    [(ngModel)] = "user.lastName" 
                    name="lastName">
        </div>

        <!-- Email Input Field. -->
        <div class="form-group indianred-text-color">
            <label>Email</label>
            <input  type="text" 
                    class="form-control" 
                    id="email"
                    [(ngModel)] = "user.email" 
                    name="email">
        </div>

        <!-- Password Input Field. -->
        <div class="form-group indianred-text-color">
            <label>Password</label>
            <input  type="text" 
                    class="form-control" 
                    id="password"
                    [(ngModel)] = "user.password" 
                    name="password">
        </div>

        <!-- Submit Form Button. (Update)-->
        <button class="btn btn-success" type="submit">Update</button>

        <br>
        <br>

        <div class="alert alert-success" *ngIf="updateSuccess">
            Successfully updated user profile!
        </div>
    </form>
</div>