<!-- Admin Panel. -->
<div class="col-md-12 center-all-forms centered-white-text">

    <!-- Titles. -->
    <h1>Admin Panel</h1>

    <h5>You are logged in as admin.</h5>

    <h6>You have the following functionalities:</h6>
  
    <br>
    <br>

      <!-- Buttons. -->
      <div>

        <a [routerLink]="['/new-currency']"> 
          <button class="btn">Add New Currency</button>
        </a>

        <a [routerLink]="['/delete-currency']"> 
          <button class="btn">Delete Currency</button>
        </a>

      </div>
  
  </div>