<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>User Details</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4">
            <span class="field-label">
                <label class="label centered-white-text" for="user-username">Username:</label>
            </span>
            <!-- <p>{{user?.username}}</p> -->

            <span class="field-label">
                <label class="label centered-white-text" for="user-firstName">First Name:</label>
            </span>
            <!-- <p>{{user?.firstName}}</p> -->

            <span class="field-label">
                <label class="label centered-white-text" for="user-lastName">Last Name:</label>
            </span>
            <!-- <p>{{user?.lastName}}</p> -->

            <span class="field-label">
                <label class="label centered-white-text" for="user-password">Password:</label>
            </span>
            <!-- <p>{{user?.lastName}}</p> -->

            <span class="field-label centered-white-text">
                <label class="label" for="user-email">Email:</label>
            </span>
            <!-- <p>{{employee?.email}}</p> -->
        </div>
    </div>
</div>