<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>User Details</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4 indianred-text-color">
            <span class="field-label">
                <label class="label" for="user-username">Username:</label>
            </span>
            <p class="centered-white-text">{{user?.username}}</p>

            <span class="field-label">
                <label class="label" for="user-firstName">First Name:</label>
            </span>
            <p class="centered-white-text">{{user?.firstName}}</p>

            <span class="field-label">
                <label class="label" for="user-lastName">Last Name:</label>
            </span>
            <p class="centered-white-text">{{user?.lastName}}</p>

            <span class="field-label">
                <label class="label" for="user-email">Email:</label>
            </span>
            <p class="centered-white-text">{{user?.email}}</p>

            <!-- Update Profile Button. -->
            <a [routerLink]="['/update']"> 
                <button class="btn">Update Profile</button>
            </a>
        </div>
    </div>
</div>