/* Styles the button. */
.btn {
    background-color: indianred;
    border-color: indianred;
    color: white;
}

/* Styles on a mouse hover over the button. */
.btn:hover {
    color: indianred;
    background-color: white;
    border-color: white;
}