<div class="container">
    <div class="form-container">
        <form [formGroup]="currencyForm" class="mt-5">
            <div class="row">
                <div class="col">
                    <label for="exchangeFrom" class="text-white">From: </label>
                        <select class="form-control" formControlName="exchangeFrom">
                          <option *ngFor="let currencyName of allCurrencyNames" [ngValue]="currencyName">{{currencyName}}</option>
                        </select>
                </div>
                <div class="col">
                    <label for="exchangeTo" class="text-white">To: </label>
                    <select class="form-control" formControlName="exchangeTo">
                        <option *ngFor="let currencyName of allCurrencyNames" [ngValue]="currencyName">{{currencyName}}</option>
                    </select>
                </div>
            </div>
            <br>
            <input  
                        nbInput
                        fullWidth
                        class="form-control"
                        id="input-sumExchange"
                        formControlName="sumExchange"
                        [ngClass]="{'input-success': f.sumExchange.valid && f.sumExchange.touched, 
                                    'input-error': f.sumExchange.invalid && f.sumExchange.dirty}"
                        placeholder="Amount to Convert">
  
            <div class="text-center mt-3">
                <button nbButton 
                    fullWidth 
                    (click)="convertCurrency()" 
                    [class.btn-pulse]="submitted" 
                    class="btn btn-primary"
                    >Convert
            </button>

            <div class="text-center mt-3">
                <br>
                <br>
                <label for="currency" class="text-white">Converted amount: {{currency}}</label>
            </div>
            </div>
        </form>
    </div>
</div>
