/* The background-color of the navbar. */
.nav-color {
    background-color: #232527;
}

/* The color of the brand. */
.navbar-brand {
    color: #ffffff !important;
}

.logo {
    width: 20px;
    margin-left: 10px;
}

.navbar a:hover {
    color: #9fa3a7 !important;
}

.nav-link {
    text-decoration: none;
    color: indianred;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    color: white !important;
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    transition: all 300ms linear; 
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
