/* The background-color of the navbar. */
.nav-color {
    background-color: #232527;
}

/* The color of the brand. */
.navbar-brand {
    color: #ffffff !important;
}

/* Styles the logo of the application. */
.app-logo-image {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-top: 3px;
}

.logo {
    width: 20px;
    margin-left: 10px;
}

/* Activates on mouse hover over links in navbar. */
.navbar a:hover {
    color: #9fa3a7 !important;
}

/* Styles the links in the navbar. */
.nav-link {
    text-decoration: none;
    color: indianred;
}

/* Styles the toggler in the navbar (it shows only in mobile view). */
.navbar .navbar-toggler .navbar-toggler-icon {
    color: white !important;
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    transition: all 300ms linear; 
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
