/* The background-color of the navbar. */
.nav-color {
    background-color: #232527;
}

/* The color of the brand. */
.navbar-brand {
    color: #ffffff !important;
}

.logo {
    width: 20px;
    margin-left: 10px;
}

.navbar a:hover {
    color: #9fa3a7 !important;
}

.nav-link {
    text-decoration: none;
    color: indianred;
}